# Visual Studio Code IDE --------------
**/.vscode/

# JetBrains IDE -----------------------
**/.idea/

# Python ------------------------------
# Byte-compiled
__pypackages__/
__pycache__/
*.py[cod]
*$py.class

# Frameworks
.nox/
.tox/

# Environments
*[eE][nN][vV]*/
*[vV][eE][nN][vV]*/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Coverage
htmlcov/
.covhtml/
.coverage

# Testing
.pytest_cache/

# Poetry
poetry.lock

# Pip
false/
Pipfile.lock
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# C extensions
*.so

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
